doctype html
html
  head
    meta(name='viewport', content='width=device-witdh, intial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/dist/jquery.min.js')
    script(src='/bootstrap/js/boostrap.min.js')
